<div class="modal-dialog modal-dialog-centered" role="document">
  <div class="modal-content">
    <div class="modal-header">

      <ul class="loginSignupNav nav">
        <li><a class="nav-link active" data-toggle="tab" href="#login">Login</a></li>
      </ul>


    </div>
    <div class="modal-body">
      <form>
        <div class="row mb-n3">
          <div class="col-12 mb-3"><input type="email" placeholder="Email"></div>
          <div class="col-12 mb-3"><input type="password" placeholder="Password"></div>
          <div class="col-12 mb-3">
            <div class="row justify-content-between mb-n2">
              <div class="col-auto mb-2">
                <div class="custom-control custom-checkbox">
                  <input type="checkbox" name="remember-me" id="remember-me" value="checkedValue"
                    class="custom-control-input">
                  <label class="custom-control-label" for="remember-me">Remember me</label>
                </div>
              </div>
              <div class="col-auto mb-2"><a href="#">Forgot Password?</a></div>
            </div>
          </div>
          <div class="col-12 mb-3"><input class="btn btn-primary w-100" type="submit" value="Login"></div>
        </div>

      </form>
    </div>


  </div>
</div>
